.hotel{
    margin-bottom: 20px;  
    background-color: rgb(235, 235, 235);
}

.title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.description{
    color: gray;
    margin-top: 10px;
    font-size: 0.88rem;
    margin-bottom: 0;
}